<%= form_with(model: person, local: true, class: "form-horizontal") do |form| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% unless request.GET.empty? %>
    <div class="field">
      <%= form.hidden_field :sitting_id, id: :person_sitting_id, value: request.GET[:person][:sitting_id] %>
    </div>
  <% end %>

  <div class="field-group">
    <%= form.label :name, class: "col-lg-2 control-label" %>
    <%= form.text_field :name, id: :person_name, class: "form-control" %>
  </div>

  <div class="field-group">
    <%= form.label :order_amount, class: "col-lg-2 control-label" %>
    <%= form.text_field :order_amount, id: :person_order_amount, class: "form-control" %>
  </div>

  <div class="field-group">
    <%= form.label :paid_amount, class: "col-lg-2 control-label" %>
    <%= form.text_field :paid_amount, id: :person_paid_amount, class: "form-control" %>
  </div>

  <div class="field-group">
    <%= form.submit class: "btn btn-success btn-block"  %>
  </div>
<% end %>
