<%= form_with(model: sitting, local: true, class: "form-horizontal") do |form| %>
  <% if sitting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sitting.errors.count, "error") %> prohibited this sitting from being saved:</h2>

      <ul>
      <% sitting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>

    <div class="form-group">
      <%= form.label :name, class: "col-lg-2 control-label" %>
      <div class="col-lg-10">
        <%= form.text_field :name, id: :sitting_name, class: "form-control", placeholder: "Bob's Burgers..." %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= form.submit "Clear", name: "reset", type: "reset", class: "btn btn-default btn-block" %>
        <%= form.submit class: "btn btn-success btn-block" %>
      </div>
    </div>

  </fieldset>
<% end %>
