<p id="notice"><%= notice %></p>

<h1>Sittings</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @sittings.each do |sitting| %>
      <tr>
        <td><%= link_to sitting.name, sitting %></td>
        <td><%= link_to 'Edit', edit_sitting_path(sitting) %></td>
        <td><%= link_to 'Destroy', sitting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sitting', new_sitting_path %>
