<p id="notice"><%= notice %></p>

<h1>Sittings</h1>

<% @sittings.each do |sitting| %>
  <div class="panel panel-default">
    <div class="panel-heading"><%= sitting.name %><%= link_to 'Show', sitting, class: "btn btn-link" %></div>
    <div class="panel-body">
      <div>
        <%= number_to_currency sitting.order_amount %>
        <%= link_to 'Destroy', sitting, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger white" %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Sitting', new_sitting_path, class: "btn btn-success btn-block white" %>
