<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sitting.name %>
</p>

<p>
<%= link_to 'Add Person', new_person_path( person: { sitting_id: @sitting.id } ) %>
</p>

<p>
  <strong>People:</strong>
  <p>
    <% @sitting.people.each do |person| %>
      <p><%= link_to person.name, edit_person_path(person) %> | <%= person.order_amount %> | <%= person.paid_amount %></p>
    <% end %>
  </p>
</p>

<%= link_to 'Edit', edit_sitting_path(@sitting) %> |
<%= link_to 'Back', sittings_path %>
