<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sitting.name %>
</p>

<p>
<%= link_to 'Add Person', new_person_path( person: { sitting_id: @sitting.id } ), style: "color: white;", class: "btn btn-primary btn-block", role: "button" %>
</p>

<p>
  <strong>People:</strong>
  <p>
    <table>
      <tr>
        <th>Name</th>
        <th>Order</th>
        <th>Paid</th>
        <th>Owing</th>
        <th>Change</th>
      </tr>

      <% @sitting.people.each do |person| %>
        <tr>
          <td><%= link_to person.name, edit_person_path(person) %></td>
          <td><%= person.order_amount %></td>
          <td><%= person.paid_amount %></td>
          <td><%= person.calculate_owing %></td>
          <td><%= person.calculate_change %></td>
        </tr>
      <% end %>
    </table>
  </p>
</p>

<p>
  <strong>Total Order:</strong> <%= @total_order %>
</p>

<p>
  <strong>Total Paid:</strong> <%= @total_paid %>
</p>

<p>
  <strong>Total Owing:</strong> <%= @total_owing %>
</p>

<%= link_to 'Edit', edit_sitting_path(@sitting), class: "btn btn-primary btn-block", style: "color:white" %>
<%= link_to 'Back', url_for(:back), class: "btn btn-primary btn-block", style: "color:white" %>
